*.tar.*
*.tgz
*.txz
*.zip
*/trunk/*
*.md5*
*.sig
*.asc
*.sha*
*.log
*~
*.bak
*.ebuild
*.wls
*.git
blueman
bluez*
obex-data-server*
obexfs*
obexftp*
pino/pino3/*
python-twitter/python-twitter/*
gtk-murrine-engine/murrine/*
